#location {
width: 30rem;
}

.element-div {
  font-weight: bold;
  border: 2px solid lightblue;
  border-radius: 12px;
  padding: 8px;
  margin-top: 2px;
}

#header {
  border: 2px solid black;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}