#location {
width: 30rem;
}

.element-div {
  font-weight: bold;
  border: 2px solid lightblue;
  border-radius: 12px;
  padding: 8px;
  margin-top: 2px;
}

#header {
  border: 2px solid black;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}

#form {
  margin-bottom: 10px;
  align-items: center;
}

#inputBox {
  width: 27rem;
  height: 2rem;
  border: 2px solid orange;
  border-radius: 12px;
}

#button {
  height: 2rem;
  border: 2px solid orange;
  border-radius: 12px;
  background-color: lightblue;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
