#location {
width: 30rem;
}

.element-div {
  font-weight: bold;
  border: 2px solid lightblue;
  border-radius: 12px;
  padding: 8px;
  margin-top: 2px;
}

.element-div:hover {
  cursor: pointer;
  color: orangered;
}

#header {
  border: 2px solid black;
  border-radius: 12px;
  width: 10rem;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 10px;
  margin: 10px;
}

#section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30rem;
  justify-content: space-between
}

#form {
  margin-bottom: 10px;
  align-items: center;
}

#inputBox {
  width: 27rem;
  height: 2rem;
  border: 2px solid orange;
  border-radius: 12px;
}

#button {
  height: 2rem;
  border: 2px solid orange;
  border-radius: 12px;
  background-color: lightblue;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#reset-button {
  height: 2rem;
  border: 2px solid orange;
  border-radius: 12px;
  background-color: lightblue;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;

}

.line-detail {
  border: 2px solid orange;
  border-radius: 12px;
  margin-top: 2px;
}